{% extends "base.html" %}

{% block content %}
    <h4 class="fw-bold py-3 mb-4">Shifts</h4>

    <div class="row">
        <div class="col-auto">
            <a href="{% url "start_shift" %}" class="btn btn-primary">
                <span class="tf-icons bx bx-list-plus"></span> Start Shift
            </a>
        </div>
    </div>


    <div class="row mt-4">
        {% for shift in shift_list %}
            <div class="col-sm-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ shift.vehicle }}</h5>
                        <div class="card-subtitle mb-1">Estimation: <b>{{ shift.shit_total_time_estimation }}</b></div>
                        <div class="card-subtitle mb-1">Km Estimation: <b>{{ shift.shift_km_estimation }}</b></div>
                        <div class="card-subtitle mb-3">Current Trip: <b>{{ shift.shit_total_trip_count }}</b></div>
                        <h5 class="mb-1">Routes</h5>
                        <ul>
                            {% for route in shift.routes.all %}
                                <li>{{ route }}</li>
                            {% endfor %}
                        </ul>
                        {% if not shift.end_time %}
                            <a href="{% url "edit_shift" shift.id %}"
                               class="btn btn-sm btn-primary btn-icon mx-1">
                                <i class="bx bxs-pencil"></i>
                            </a>
                            <a class="btn btn-sm btn-dark btn-icon mx-1" href="{% url 'rotate_trip' shift.id %}">
                                <i class='bx bx-repost'></i>
                            </a>
                            <a class="btn btn-sm btn-danger btn-icon mx-1" href="{% url 'end_shift' shift.id %}">
                                <i class="bx bxs-stopwatch"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}